.statee{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    color: rgb(255, 0, 0);
    height: 300px;
    
}

.btn{
    background-color: blue;
    height: 40px;
    width: 200px;
}
